* {
    margin: 0px;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: Lato;
}

body {
    background-color: rgb(21, 20, 22);
    color: white;
}

a {
    text-decoration: none;
}

a:visited {
    color: white;
}

ul {
    list-style: none;
}

header {
    display: flex;
    align-items: center;
    background-color: #413f4480;
    padding: 2rem;
}

header img {
    display: none;
}
.banner {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 30px;
    color: white;
    padding-left: 2em;
    
}

nav {
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
}

nav ul {
    padding: 5px;
    margin: 0;
    display: flex;
    justify-content: space-around;
    
}

nav li {
    width: 0.15rem;
}

.nav-btn {
    min-width: 150px;
    color: white;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.301);
    border-radius: 2%;
    padding: 0.4rem;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-btn:hover {
    background-color: rgba(255, 255, 255, 0.401);
}

.center {
    display: flex;
    justify-content: space-around;

}

aside {
    margin-top: 3rem;
    flex: 0.8;
    text-align: center;
}
.profile-pic {
    opacity: 0.8;
}

.block {
    margin-top: 5rem;
    flex: 1.2;
}

section {
    background-color: rgba(255, 255, 255, 0.301);
    padding: 20px;
    margin: 1rem;

}

.technologies {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.technologies img {
    width: 10rem;
    height: 10rem;
}

.skill-section {
    margin-top: 3rem;
}

.skill-header{
    display: flex;
    justify-content: center;

}

.skill-header p {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2rem;
}

.skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 3rem 7rem;
    text-transform: uppercase;
}

#python-level {
    height: 10px;
    width: 100%;
    background-color: lime;
}

#html-level {
    height: 10px;
    width: 100%;
    background-color: lime;
}

#css-level {
    height: 10px;
    width: 100%;
    background-color: lime;
}

#js-level {
    height: 10px;
    width: 100%;
    background-color: lime;
}

.skill > img, .skill > p {
    margin-bottom: 0.6rem;
    font-weight: bold;
    font-size: 0.9rem;
}


footer {
    color: white;
    background-color: rgb(40, 35, 44);
    margin: 0;
}
